# Inspect included files using:
# yarn eas build:inspect --stage archive --output ~/tmp/inspect --profile production

# Required for notifications
!app/firebase-google-services.secret.json

## Unnecessary files
api
subgraph
# lib is required
# contracts is required by lib
# config is required by contracts