# Inspect included files using:
# rm -rf ~/tmp/inspect && yarn eas build:inspect --stage archive --output ~/tmp/inspect --profile production --platform android

## Unnecessary files
/api
/contracts
/docs
/services
# packages/{chain,lib} are required