# Inspect included files using:
# rm -rf ~/tmp/inspect yarn eas build:inspect --stage archive --output ~/tmp/inspect --profile production --platform android

# Required for notifications
!/app/firebase-google-services.secret.json

## Unnecessary files
/api
/subgraph
/docs
# lib is required
# contracts is required by lib
# config is required by contracts