## Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Zero install ignores - https://yarnpkg.com/features/zero-installs
!.yarn/cache
# Non-zero install ignores
#.pnp.*

## Shared
.env
**/bin
**/cache
**/node_modules

## Contracts
contracts/abi
contracts/artifacts
contracts/coverage*
contracts/typechain

## Subgraph
subgraph/build
subgraph/data
subgraph/generated
subgraph/subgraph.yaml
