## Shared
.env*
!.env.vault
**/.tsup
**/.turbo
!.env.project.turbo
**/bin
**/build
**/cache
**/dist
**/*generated*/*
**/node_modules
**/__generated__
**/*.secret.*
**/*.dump*

# Yarn
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
# Zero install ignores - https://yarnpkg.com/features/zero-installs
!**/.yarn/cache
# Non-zero install ignores
#**/.pnp.*
# Other
yarn-debug.log*
yarn-error.log*

# MacOS
**/.DS_Store


## Site
site/.docusaurus
site/.cache-loader
site/docs/reference/schema
site/**/*generated.ts


## Lib

