
## Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Zero install ignores - https://yarnpkg.com/features/zero-installs
!.yarn/cache
# Non-zero install ignores
#.pnp.*

# Shared
**/node_modules
.env
