{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "compiler": "0.8.9",
        "explicitTypes": "preserve"
      }
    }
  ]
}
