## Shared
**/node_modules
**/cache
**/dist
**/*generated*
.yarn


## App
app/.expo*


## Contracts
contracts/abi
contracts/artifacts
contracts/coverage*
contracts/gasReporterOutput.json


## Lib
lib/src/typechain


## Subgraph
subgraph/subgraph.mustache.yaml
