### Copied from .gitignore
# Include .gitignore as well once supported: https://github.com/prettier/prettier/issues/8048


### .prettierignore
## Shared
../**/*generated*
../**/*.mustache.yaml



### .gitignore
## Shared
../.env
../**/bin
../**/build
../**/cache
../**/dist
../**/generated/*
../**/node_modules
../**/__generated__
../**/*.secret.*

# Yarn
../**/.yarn/*

# MacOS
../**/.DS_Store


## Api
../api/dbschema
../api/schema.graphql


## App
../app/.expo
../app/.vscode/.react
../app/web-build


## Contracts
../contracts/artifacts
../contracts/artifacts-zk
../contracts/cache-zk
../contracts/coverage*
../contracts/zk


## Site
../site/.docusaurus
../site/.cache-loader
../site/docs/reference/schema


## Lib
../lib/src/contracts
../lib/src/typechain
