@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&display=swap');

/* https://m3.material.io/styles/typography/type-scale-tokens */
.display--large {
  line-height: 4rem; // 64
  font-size: 3.5625rem; // 57
}

.display--medium {
  line-height: 3.25rem; // 52
  font-size: 2.8125rem; // 45
}

.display--small {
  line-height: 2.75rem; // 44
  font-size: 2.25rem; // 36
}

.headline--large {
  line-height: 2.5rem; // 40
  font-size: 2rem; // 32
}

.headline--medium {
  line-height: 2.25rem; // 36
  font-size: 1.75rem; // 28
}

.headline--small {
  line-height: 2rem; // 32
  font-size: 1.5rem; // 24
}

.title--large {
  line-height: 1.75rem; // 28
  font-size: 1.375rem; // 22
}

.title--medium {
  line-height: 1.5rem; // 24
  font-size: 1rem; // 16
  letter-spacing: 0.009375rem; // 0.15
  font-weight: 500;
}

.title--small {
  line-height: 1.25rem; // 20
  font-size: 0.875rem; // 14
  letter-spacing: 0.00625rem; // 0.1
  font-weight: 500;
}

.label--large {
  line-height: 1.25rem; // 20
  font-size: 0.875rem; // 14
  letter-spacing: 0.00625rem; // 0.1
  font-weight: 500;
}

.label--medium {
  line-height: 1rem; // 16
  font-size: 0.75rem; // 12
  letter-spacing: 0.03125rem; // 0.5
  font-weight: 500;
}

.label--small {
  line-height: 1rem; // 16
  font-size: 0.6875rem; // 11
  letter-spacing: 0.03125rem; // 0.5
  font-weight: 500;
}

.body--large {
  line-height: 1.5rem; // 24
  font-size: 1rem; // 16
  letter-spacing: 0.03125rem; // 0.5
}

.body--medium {
  line-height: 1.25rem; // 20
  font-size: 0.875rem; // 14
  letter-spacing: 0.015625rem; // 0.25
}

.body--small {
  line-height: 1rem; // 16
  font-size: 0.75rem; // 12
  letter-spacing: 0.025rem; // 0.4
}
